body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

main {
    height: 100%;
}

.mattress {
    background-color: var(--mattress);
    height: 100%;
    min-height: 100dvh;
    width: 60%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 1em;
}

.title,
.subtitle {
    text-align: center;

}

.subtitle {
    margin-top: 1em;
}

.contenedor {
    width: 40%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

input {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.costos {
    background-color: var(--secondary-bg-color);
    width: 80%;
    margin: auto;
    min-height: 15em;
    border-radius: 5px;
}

.fit-content {
    width: fit-content;
}

select {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    border-radius: 5px;
}

footer {
    width: 100%;
    background: #212529;
    padding: 1em;
    text-align: center;
    color: #C8CDD0;
}

@media (max-width: 768px) {
    .mattress {
        width: 100%;
    }

    .contenedor {
        width: 90%;
    }

    .fit-content {
        width: fit-content;
    }
}