body {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.lado-productos {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.productos-lista {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.carrito-item {
    display: flex;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--card-border);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.producto-imagen {
    width: 180px;
    object-fit: cover;
    height: 100%;
}

.carrito-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.carrito-info {
padding: 1rem;
display: flex;
flex-direction: column;
font-size: 1rem;
}

#nombre-producto {
    font-weight: bold;
}

.lado-resumen {
    flex: 1;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--card-border);
    padding: 1.5rem;
    height: fit-content;
}

.carrito-vacio {
    text-align: center;
    padding: 5rem 1rem;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

#pagar {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px #ffcb77;
}

#pagar:hover {
    background-color: #e49a23;
}

#vaciar-carrito {
    box-shadow: 0px 0px 10px #FF4827;
    background-color: #FF4827;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.lado-resumen,
h3 {
    text-align: center;
}

.companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.companies-img {
    position: relative;
    bottom: 1.3em;
}

@media (max-width: 768px) {

@media (max-width: 768px){
    .lado-productos {
        flex-direction: column;
    }

    .lado-resumen {
        margin-top: 2rem;
    }
}

@media (max-width: 375px){
    .lado-productos {
        flex-direction: column;
    }

    .lado-resumen { 
        margin-top: 2rem;
    }

    .carrito-info {
        font-size: 0.6rem;
    }

    .producto-imagen{
        width: 10rem;
    }
}