body {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.row div {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

#rangeFilterCountMin,
#rangeFilterCountMax,
#rangeFilterCount,
label {
    background-color: var(--secondary-bg-color) !important;
    color: var(--text-color) !important;
    border: 0 !important;
}