* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

footer {
  margin-top: auto;
  width: 100%;
  background: #212529;
  padding: 1em;
  color: #C8CDD0;
}

footer p {
  margin-left: 10em;
  text-align: left;
  padding: 1em;
  font-size: 14px;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 2em;
}

.image {
  max-width: 100%;
  height: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  max-width: 30em;
  height: auto;
  padding: 4em;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.3);
}

#name,
#mail,
#lastname {
  margin-bottom: 2em;
}

#password {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: rgb(0, 102, 255);
}

.input-box {
  padding: 1em;
  width: 100%;
  max-width: 20em;
  border: 1px solid;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #ffb33a;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

button {
  height: 3.5em;
  width: 100%;
  max-width: 15em;
  border-radius: 10px;
  border-style: none;
  background: #ffb33a;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 1em;
}

button:hover {
  background-color: #e49a23;
  cursor: pointer;
}

.mobile-title {
  display: none;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 2em;
  }

  .mobile-title {
    display: block;
  }

  .mobile-logo {

    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .login-container {
    height: 74vh;
  }

  .input-box::placeholder {
    font-size: large;
  }

  .input-box {
    padding: 1.5em;
    width: 100%;
  }

  .image {
    display: none;
  }

  footer p {
    margin-left: 2em;
  }
}

@media (max-width: 375px) {

  button {
    padding: 1em;
  }

  .input-box::placeholder {
    font-size: small;
  }

  .input-box {
    padding: 0.8em;
    width: 100%;
  }

}