* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: var(--main-bg-color);
}


.mattress {
    background-color: var(--mattress);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20%;
    max-width: 1200px;
    height: calc(100vh - 108px);
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.mattress h2 {
    text-align: left;
    margin-bottom: 2em;
    color: var(--text-color)
}


footer {
    width: 100%;
    background: #212529;
    padding: 1em;
    text-align: center;
    color: #C8CDD0;
}


nav {
    width: 100%;
}


main {
    flex: 1;
    width: 100%;
}

img {
    width: 250px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    margin-bottom: 3em;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-right: 1em;
}

.label-photo {
    margin-bottom: 3em;
    margin-right: 3.4em;
    text-align: left;
}

#update-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: #ffb33a;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffcb77;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 4em;
    font-weight: bolder;
    color: white;
    letter-spacing: 0.1em;
}

#update-profile:hover {
    background-color: #e49a23;
}

.theme-container {
    background-color: var(--box-color);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

.theme-icon {
    margin-bottom: 2em;
    margin-left: 1em;
}

.theme-title h3 {
    margin-top: 0.5em;
}

.info-container {
    border: 1px solid var(--text-color);
    padding: 1.3em;
    width: 15em;
    border-radius: 10px;
    margin: 1em;
    transition: 1s ease-out;
}

.hover-container:hover {
    scale: 1.02;
    transition: 1.5s ease-out;
}

.hover-container .info-container:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

label {
    position: relative;
    top: 1.9em;
    left: 1.6em;
    background-color: var(--mattress);
    padding: 0.2em;
    font-weight: bold;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#log-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF4827;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffcb77;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    letter-spacing: 0.1em;
    margin-top: 2.3em;
    box-shadow: 0px 0px 10px #FF4827;
}

.log-out:hover {
    background-color: #dd3b1f;

}

@media (max-width: 1024px) {
    .mattress {
        width: 95%;
        height: calc(100vh - 108px);
    }
}


@media (max-width: 768px) {
    .mattress {
        flex-direction: row;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 108px);
        padding: 2em 1em;
    }

}


@media (max-width: 480px) {
    .mattress {
        padding: 1.5em 1em;
    }

    .info-container {
        margin: 0;
    }

    label {
        top: 1em;
        left: 1em;
    }

    .update-profile {
        margin-bottom: 1em;
    }

    .theme-container {
        margin-bottom: 2em;
    }

    img {
        margin: 2em;
    }

    #log-out {
        margin-bottom: 1em;
    }

    footer {
        font-size: 0.9em;
    }
}