img {
    width: 100%;
    border-radius: 10px;
}

.sidebar, .card-box {
    border: #FFB33A solid 2px;
}

#prod-main {
    background-color: black;
    width: 100dvw;
}

#card-container {
    margin-top: 10px;
    display: grid;
    width: auto;
    grid-template-columns: 
        repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-template-rows: max-content;
    gap: 3rem;
} 

.full-container {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.card-box {
    background-color: #E3E3E3;
    border-radius: 10px;
    max-height: 350px;

}

.sidebar {
    width: 150px;
    max-height: fit-content;
    background-color: #E3E3E3;
    padding: 15px;
    border-radius: 10px;
}

.selector-marca-modelo {
    text-indent: 15px;
    color: rgb(95, 93, 93)
}

.precio {
    width: 100px;
    color: rgb(95, 93, 93);
}

hr {
    color: #FFB33A;
}

.costo {
    font-weight: 400;
}

.cant-vendidos, .descripcion {
    font-weight: 300;
}

.descripcion {
    
}