* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
  background: #D9D9D9;
  padding: 1em;
}

footer p {
  margin-left: 10em;
  text-align: left;
  padding: 1em;
  font-size: 14px;
}

.carrusel {
    background-color: aqua;
    padding: 1em;
    width: 60%;
    height: 20em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#product-image {
    width: 60%;
    background-color: red;
}

button {
    width: 5em;
    height: 20%;
    position: relative;
    top: 40%;
}